#zdanie{
	margin-top: 40px;
	width: 700px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 30px;
	font-weight: 100;
	text-align: center;
	border: 2px solid #401116;
	border-radius: 2px;
	color: #7a1823;
}

p{
	text-align: center;
	font-weight: 100;
	font-size: 17px;
	margin: 5px;
}

.title{
	border-bottom: 5px solid #401116;
	color: #a3270d;
}

#guzik
{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 150px;
	height: 40;
	border: 2px solid black;
	border-radius: 5px; 
	background-color: #b90b0b;
	font-size: 20px;
}

#guzik:hover
{
	background-color: #de4a0b;
}
#container
{
	margin-top: 40px;
}
.column
{
	background-color: #db725a;
	height: 415px;
	width: 24.5% ;
	border-left: 5px solid #401116;
	border-top: 5px solid #401116;
	border-bottom: 5px solid #401116;
	float: left;
}

.column:last-of-type
{
		border-right: 5px solid #401116;
}