.tip
{
	font-size: 13px;
	text-align: center;
	color: red;
}

.what
{
	font-size: 17px;
	margin-top: 10px;
}

.window
{
	margin-top: 10px;
	width: 200px;
	height: 19px;
}

#user
{
	border: 3px solid black;
	margin-left: 5%;
	width: 1000px;
}

.header
{
	text-align: left;
	font-size:20px;
}

.data
{
	font-size: 18px;
}

h1{
	margin-top: 20px;
	margin-left: 7%;
}

#save_user{
	height: 55px;
	width: 160px;
	display: block;
	margin-left: 38%;
	margin-top: 30px;
	border: 2px solid black;
}

#save_user:hover{
	background-color: #00b543;
	border: 2px solid #135c2e;
	font-size: 105%;
	font-weight: bold;
}

.delete{
	width: 100px;
	height: 20px;
}

.delete:hover{
	background-color: #ff5b52;
	border: 2px solid #c42a21;
	font-weight: bold;
}
